@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #EC1B23;
    
    color: #fff;
  }

header {
    background-color: #FEDE00;
    box-shadow: 0px 3px 10px #FEDE00;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 20%;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: black;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}


.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
  .nav-bar {
      padding: 1.5rem 4rem;
  }
  .nav-item {
      display: none;
  }
 
  .mobile-menu-icon {
      display: block;
  }
  .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }
  .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
  }

  .open {
      display: block;
  }

  .logo img {
      max-width: 40%;
  }
}



.form {
  flex: 1;  
  padding-right: 50px;
}

iframe {
  width: 100%;
  border: none;
  margin-top: 10%;
  
}


.container1 {
    display: flex;
    background-color: #000;
    flex-wrap: wrap;
  }

  p{
    text-align: justify;
  }
  
  .content {
    flex: 1 1 20%; /* ocupa 45% da largura do contêiner */
    display: flex;
    flex-direction: column; /* Para empilhar o conteúdo verticalmente */
    align-items: center; /* Para centralizar verticalmente */
    margin-top: 5%;
  }
  
  .frases{
    max-width: 70%;
  }

  .frases1{
    max-width: 70%;
    margin-top: 7%;
  }


  .queremos {
    font-size: larger; /* Altere o valor conforme necessário */
  }


  .txt-campanha{
    max-width: 80%;
    margin-top: 5%;
    font-size: large;
  }
  
  @media screen and (max-width: 767px) {
    .container1 {
      flex-direction: column; 
      align-items: center; 
    }
  
    .content,
    .form {
      flex: 1 1 100%; 
      margin-right: 0; 
      margin-bottom: 20px; 
      padding:0;
    }
   
  }

  
section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-image: url('./img/Home.png');
    background-repeat: repeat;
   
  }
@media only screen and (max-width: 768px) {
    section {
        background-size: cover;
    }
}
  
  .caixa-texto {
    padding: 20px;
    background-color: #FEDE00;
    color: black;
    border-radius: 10px;
    font-size: larger;
  }
  
  .caixa-texto h2 {
    margin-top: 0;
  }
  
  .caixa-imagem {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .caixa-imagem img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  @media (min-width: 768px) {
    section {
      grid-template-columns: repeat(2, 1fr);
      /* Altera para duas colunas em telas maiores que 768px */
    }
  }


.projetos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    color: #000;
    background-image: none;
    background-color: #EC1B23;
}

.projeto {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    margin-bottom: 10%;
}

.projeto img {
  max-width: 40%;
  margin-bottom: 10%;
 
}

.projeto p{
  text-align: center;
}

h1{
font-size: x-large;
background-color: #EC1B23;
color: #000;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}

@media (max-width: 767px) {
    .projetos {
        grid-template-columns: repeat(2, 1fr);
    }
}

.cb-indicadores {
  background-color: #EC1B23;
  text-align: center;
  padding: 20px;
}

.cb-indicadores h1 {
  color: black;
  margin: 0;
}

.wrapper {
  background-color: #EC1B23;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: black;
  padding: 20px;
  margin-bottom: 10px;
}

.indicador {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #FEDE00;
  border-radius: 10px;
  padding: 10px 20px;
  max-width: 600px;
}

.indicador p {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .indicador {
      max-width: 100%;
  }
}


.footer {
background-color: #FEDE00;
  color: black;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 3px 10px #FEDE00;
}


.footer-info p {
  margin: 5px 0;
}

.footer-info a {
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: underline;
}

.footer-marca{
  max-width: 20%;
}

@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .left-content, .right-content {
    text-align: center;
    margin-bottom: 10px;
  }

  .footer-marca{
    max-width: 80%;
  
  }
}
